.contentPriceBox {
  width: 500px;
  border: solid 1px;
  margin-bottom: 1%;
  justify-content: center;
}

.priceDiv {
  font-size: 20px;
}

.contentPriceInput {
  text-align: center;
  width: 100%;
  height: 40px;
  border: 0;
  padding: 0;
}

.priceDivOff {
  display: none;
}
