.contentDayFirstSection {
  padding: 3%;
  font-weight: bold;
  font-size: larger;
  width: 100px;
  height: 87px;
  text-align-last: center;
}
.contentDaySecondSection {
  padding: 2%;
  color: gray;
}
.ContentDayPlaceName {
  font-weight: bold;
  color: black;
}
