.contentTitle {
  font-size: xx-large;
}
.contentDate {
  justify-content: center;
  -webkit-box-pack: center;
  font-size: larger;
}
.contentInvite {
}

.contentBodyTitle {
  display: flex;
}
.listItem {
  display: flex;
}

.buttonList {
  display: flex;
  width: 100%;
}
.btnInvite {
  cursor: pointer;
}
.writeParticipant {
  display: flex;
  margin: 2% auto;
}

.page {
  height: 100%;
}
.contentPage {
  display: flex;
  flex-direction: unset;
  // font-weight: bold;
  padding: 7.2%;
  align-content: center;
  margin-left: 6%;
}
.contentBody {
  margin-left: 10%;
  width: 100%;
}
.contentCardBorder {
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(65, 63, 64, 0.2);
}
