.contentNum {
  width: 100%;
  padding: 4%;
}
.contentImg {
  width: 100%;
  padding: 2%;
}
.contentPlaceName {
  width: 100%;
  padding: 2%;
}
.btnContentItemMap {
  width: 20px;
  height: 20px;
  margin-top: 7%;
  margin-right: 2%;
  margin-left: 50px;
  font-weight: bold;
  padding: 0.2%;
  border: solid 2px black;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
  &:hover {
    background-color: blue;
    color: white;
  }
}
