.contentNum {
  width: 100%;
  padding: 4%;
}
.contentImg {
  width: 100%;
}
.contentPlaceName {
  font-size: 2rem;
  text-align: center;
}
.btnContentItemMap {
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}
.listItem {
  display: flex;
  align-items: center;
  border: solid 1px;
  width: 100%;
  height: 100px;
  transition: all 5s;
  margin: 0 auto;
}
.contentPlaceImage {
  width: 11.5rem;
  height: 6.2rem;
}
.contentDay {
  display: flex;
  height: 130px;
}
.enterContentTextInfoBox {
  width: 100%;
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.placeAndPrice {
  width: 280px;
}
.contentPrice {
  text-align: center;
}
.btnContentItemMap:hover {
  color: #ff1493;
}
.ImageContentPlace {
  border-radius: 10px;
  margin-top: 17px;
}
.contentEnterItemBox {
  display: flex;
  align-items: center;
  border: solid 1px;
  width: 500px;
  height: 100px;
  transition: all 5s;
}
.contentEnterImage {
  width: 6rem;
  height: 6.2rem;
}
