.contentTitle {
  font-size: xx-large;
}
.contentDate {
  justify-content: center;
  -webkit-box-pack: center;
  font-size: larger;
}
.contentInvite {
}

.contentBodyTitle {
  display: flex;
}
.listItem {
  display: flex;
}

.buttonList {
  display: flex;
  width: 100%;
}
.btnInvite {
  cursor: pointer;
}
.writeParticipant {
  display: flex;
  margin: 2% auto;
}
.writeParticipantTitle {
}
.page {
  height: 100%;
}
.contentPage {
  display: flex;
  flex-direction: unset;
  font-weight: bold;
  padding: 10%;
  align-content: center;
  margin-left: 6%;
}
.contentBody {
  margin-left: 10%;
  width: 100%;
}
.contentHeader {
  margin-left: 10%;
}
