#footerContainer {
  padding-left: 50px;
  padding-right: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 30vh;
  width: 100%;
  font-size: 1.3em;
  z-index: 3;
  background-color: rgb(197, 192, 192);
}

.footerTextArea {
  display: flex;
  margin-right: 2rem;
  padding-top: 30px;
  color: white;
}
.footerText1 {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #363638;
  margin-right: 5%;
}
.footerText2 {
  margin-left: 5%;
  font-size: 1rem;
  font-weight: 500;
  color: #363638;
}
.footerBtnBox {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  padding: 15px 40px;
  margin-left: 0 auto;
}
.githubBtn {
  width: 50px;
  height: 50px;
  padding: 2%;
  background: black;
  border-radius: 50%;
  padding: 0.7rem;
}
