:root {
  --first-color: #1a73e8;
  --input-color: #80868b;
  --border-color: #dadce0;

  --body-font: "Roboto", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}
*,
::before,
::after {
  box-sizing: border-box;
}
.bodyLogin {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
.formTitle {
  margin: 0;
  margin-bottom: 6%;
}
.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.formLogin {
  width: 450px;
  padding: 3rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}
.formLoginDiv {
  position: relative;
  height: 48px;
  margin-bottom: 0.5rem;
}
.formLoginInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}
.formLabelLogin {
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 0.25rem;
  background-color: #fff;
  color: var(--input-color);
  font-size: var(--normal-font-size);
  transition: 0.3s;
}
.loginBtn {
  display: block;
  margin: auto;
  margin-top: 2%;
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--normal-font-size);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}
.formLoginInput:focus + .formLabelLogin {
  top: -0.5rem;
  left: 0.8rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}
.formLoginInput:not(:placeholder-shown).formLoginInput:not(:focus)
  + .formLabelLogin {
  top: -0.5rem;
  left: 0.8rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}
.formLoginInput:focus {
  border: 1.5px solid var(--first-color);
}
.goToFind {
  // border: solid 1px rgb(220, 220, 220);
  width: 280px;
  height: 40px;
  line-height: 40px;
  text-align: end;
  padding-right: 20px;
  text-decoration-line: none;
  // font-size: 13px;
  color: rgb(110, 110, 110);
  // background-color: rgb(220, 220, 220);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  &:hover {
    font-weight: bold;
  }
}
// .loginGoogleBtn {
//   background-image: "https://accounts.google.com/o/oauth2/auth?client_id=790150276040-a80efgd4j9o2qu2ftd49e0esosrpsrho.apps.googleusercontent.com&redirect_uri=http://localhost:3000&response_type=code&scope=https://www.googleapis.com/auth/userinfo.email+https://www.googleapis.com/auth/userinfo.profile";
//   cursor: pointer;
// }

// .loginBox {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 400px;
//   height: 400px;
// }
// .inputSection {
//   display: flex;
//   flex-direction: column;
//   margin-top: 20px;
// }
// .emailInput,
// .passwordInput {
//   width: 280px;
//   height: 50px;
//   padding: 0;
//   padding-left: 20px;
//   border: solid 1px rgb(220, 220, 220);
//   &:hover {
//     border: solid 1px rgb(110, 110, 110);
//   }
// }
// .emailInput {
//   border-top-left-radius: 5px;
//   border-top-right-radius: 5px;
// }
// .loginBtn {
//   width: 300px;
//   height: 50px;
//   margin-top: 20px;
//   border: none;
//   font-weight: bold;
//   font-size: 17px;
//   background-color: rgb(98, 218, 255);
//   color: white;
//   &:hover {
//     background-color: rgb(32, 203, 255);
//     cursor: pointer;
//   }
// }
