.mainSection7 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../component/video/section7.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right bottom;
}

@media screen and (min-width: 1024px) {
  .mainSection7 {
    background-color: rgb(255, 255, 255);
    height: 1000px;
  }
  .mainSection7Title {
    font-size: 40px;
  }
}
@media screen and (min-width: 501px) and (max-width: 1023px) {
  .mainSection7 {
    background-color: rgb(255, 255, 255);
    height: 950px;
  }
  .mainSection7Title {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .mainSection7 {
    background-color: rgb(255, 255, 255);
    height: 812px;
  }
  .mainSection7Title {
    font-size: 20px;
  }
}
