@import "./MainSection3.scss";

.mainSection4 {
  @include mainSection3();
}

.mainSection4Image {
  @include mainSection3Image();
}

.mainSection4Text {
  p {
    @include mainSection3pTag();
  }
  @include mainSection3Text();
}

@media screen and (min-width: 1024px) {
  .mainSection4Text {
    p {
      @include mainSection3pTag();
      font-size: 50%;
    }

    @include mainSection3Text();
    font-size: 190%;
  }
}

@media screen and (min-width: 501px) and (max-width: 1023px) {
  .mainSection4Text {
    p {
      @include mainSection3pTag();
      font-size: 50%;
    }

    @include mainSection3Text();
    font-size: 90%;
  }
}

@media screen and (max-width: 500px) {
  .mainSection4Text {
    p {
      @include mainSection3pTag();
      font-size: 60%;
    }
    @include mainSection3Text();
    font-size: 80%;
  }
}
