.rangeSlider {
  //   border: solid;
  padding: 30px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 100px;
  width: 80%;
  margin-left: 10%;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px #a1a1a1, 0px 0px 10px #b8b8b8;
  font-weight: bold;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 80%;
}
::-webkit-slider-runnable-track {
  background-color: white;
  border-radius: 10px;
  border: solid 1px rgb(199, 199, 199);
}
::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 15px;
  width: 30px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}
